@import 'tailwindcss';

.ant-menu-item,
.ant-menu-submenu-title {
  text-transform: capitalize;
}

.ant-upload-wrapper .ant-upload-select {
  display: block;
}

.ant-form-item {
  margin-bottom: 0 !important;
}

.ant-select-tree .ant-select-tree-node-content-wrapper {
  text-transform: capitalize;
}
