ENV=prod

FRONTEND_URL=http://localhost:5173

DB_DEV=e-commerce
DB_PROD=e-commerce
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

SECRET_KEY='huynhdinhlong'
ACCESS_TOKEN_EXPIRE_MINUTES=43200

CLOUDINARY_NAME=dfmwbeohx
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

REDIS_URL=redis://localhost:6379

MAIL_USERNAME=clothesshop.service@gmail.com
MAIL_PASSWORD=
MAIL_FROM=clothesshop.service@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME="Clothes Shop"

PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
