NEXT_PUBLIC_APP_NAME=CLOTHES

NEXT_PUBLIC_BE_URL=http://localhost:8000/api/v1

NEXT_PUBLIC_LOGIN_ENDPOINT=auth/login
NEXT_PUBLIC_REGISTER_ENDPOINT=auth/register
NEXT_PUBLIC_SEND_OTP_ENDPOINT=auth/send-otp
NEXT_PUBLIC_REFRESH_TOKEN_ENDPOINT=auth/refresh-token
NEXT_PUBLIC_GET_ME_ENDPOINT=auth/me
NEXT_PUBLIC_LOGOUT_ENDPOINT=auth/logout

NEXT_PUBLIC_CATEGORIES_ENDPOINT=categories

NEXT_PUBLIC_PRODUCTS_ENDPOINT=products

NEXT_PUBLIC_VARIANTS_ENDPOINT=variants

NEXT_PUBLIC_CARTS_ENDPOINT=carts

NEXT_PUBLIC_DISCOUNTS_ENDPOINT=discounts
NEXT_PUBLIC_APPLY_DISCOUNTS_ENDPOINT=discounts/code

NEXT_PUBLIC_ORDERS_ENDPOINT=orders
NEXT_PUBLIC_GET_USER_ORDERS_ENDPOINT=orders/user-orders
NEXT_PUBLIC_GET_ORDERS_STATUS_ENDPOINT=orders/status

NEXT_PUBLIC_BANK_NAME=ACB
NEXT_PUBLIC_BANK_ACCOUNT=45132997
NEXT_PUBLIC_BANK_ACCOUNT_NAME=HUYNH DINH LONG
