VITE_APP_NAME=CLOTHES

# VITE_API_URL=http://127.0.0.1:3658/m1/1224514-1220622-default
VITE_API_URL=http://localhost:8000/api/v1

VITE_LOGIN_ENDPOINT=auth/login
VITE_REFRESH_TOKEN_ENDPOINT=auth/refresh-token
VITE_LOGOUT_ENDPOINT=auth/logout
VITE_GET_ME_ENDPOINT=auth/me

VITE_DASHBOARD_ENDPOINT=dashboard
VITE_TOP_PRODUCTS_ENDPOINT=dashboard/top-products

VITE_USERS_ENDPOINT=users

VITE_CATEGORIES_ENDPOINT=categories

VITE_PRODUCTS_ENDPOINT=products
VITE_PRODUCTS_OVERVIEW_ENDPOINT=products/overview

VITE_PRODUCT_VARIANTS_ENDPOINT=variants
VITE_PRODUCT_REVIEWS_ENDPOINT=reviews

VITE_COLORS_ENDPOINT=colors

VITE_DISCOUNTS_ENDPOINT=discounts

VITE_ORDERS_ENDPOINT=orders
VITE_ORDERS_OVERVIEW_ENDPOINT=orders/overview
